.appbar {
    position: absolute;
    width: 80%;
    height: 25%;
    top: -10%;
    left: 10%;
    background-color: rgba(200, 200, 200, 0.5);
}
.appbar:hover {
    top: 0%;
}
.cont = {
    position: absolute,
    background-color: grey,
    width: 75%,
    height: 75%,
    top: 12.5%,
    left: 12.5%,
    border-radius: 15px,
}
